tmux/resurrect/
vim/bundle/vim-wakatime/
vim/bundle/vim-tags
config/ranger/
config/autostart/
config/cef_user_data/
config/Code/
config/compiz-1/
config/dconf/
config/Electron/
config/Empathy/
config/enchant/
config/eog/
config/evolution/
config/gnome-control-center/
config/gnome-session/
config/goa-1.0/
config/google-chrome/
config/ibus/
config/libaccounts-glib/
config/libreoffice/
config/liferea/
config/menus/
config/nautilus/
config/nonio/
config/pulse/
config/signond/
config/skypeforlinux/
config/Slack/
config/spotify/
config/topcoding/
config/totem/
config/touchegg/
config/transmission/
config/unity/
config/update-notifier/
config/upstart/
config/webbrowser-app/
config/yelp/
config/dleyna-renderer-service.conf
config/dleyna-server-service.conf
config/mimeapps.list
config/monitors.xml
config/QtProject.conf
config/Trolltech.conf
config/user-dirs.dirs
config/i3/scripts/battery
config/i3/scripts/disk
config/i3/scripts/exit_menu
config/i3/scripts/load_average
config/i3/scripts/net
